body{
    background-color: var(--background-color-1);
}
#container{
    background-color: var(--background-color-3);
    width: 50%;
}

/* Estilização básica para melhor apresentação */
h1{
    color:var(--cor-fonte-2);
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, textarea {
    width: 100%;
    padding: 8px;
}
button {
    background-color: #5cb85c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #4cae4c;
}