body{
    background-color: var(--background-color-1);
}

#container{
    background-color: var(--background-color-3);
    width: 100vh;
    max-width: 1200px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color:var(--cor-fonte-2);
    font-size: 2.3rem;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;

}

#headerMensagem{
    color: var(--cor-fonte-1);
    font-size: 1.5rem;
    margin-bottom: 5vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}