body{
    background-color: var(--background-color-1);
}

#container{
    background-color: var(--background-color-5);
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

#tituloPagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#headerTitulo{
    color:var(--cor-fonte-2);
    font-size: 3.5rem;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

.conteudo{
    display: flex;
    flex-direction: column;
}

.texto{
    color: var(--cor-fonte-5);
    font-size: 1rem;
    font-weight: 400;
    margin: 2%;
    padding-left:1%;
    text-align: justify;
}

.texto span{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1,5rem;
    text-decoration:underline;
}

footer{
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    color: var(--cor-fonte-5);
}