<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalhe Conosco</title>
    <link rel="stylesheet" href="../static/css/geral.css">
    <link rel="stylesheet" href="../static/css/admin.css">
    <link rel="stylesheet" href="../static/css/navbar.css">

</head>

<body>
    <div id="container">
        <header>
            <!-- vai vim a bara de navegação -->
            <div class="navbar">
        
                <div id="primeiro">
        
                    <div id="navbarLogo">
                        <img src="img/logo.png" alt="Logo da empresa">
                    </div>
        
                    <div id="nomeFrase">
                        <h1>Nome da empresa</h1>
                        <h3> Jardinagem, Paisagismo, Consultoria Ambiental, Treinamento e Gestão de Áreas Verdes.</h3>
                    </div>
        
                </div>
        
                <div id="segundo">
        
                    <a href="{{url_for('indexpage')}}"><button class="navbarButton">Início</button></a>
                    <a href="{{url_for('sobrepage')}}"><button class="navbarButton">Sobre</button></a>
                    <a href="{{url_for('servicopage')}}"><button class="navbarButton">Serviços</button></a>
                    <a href="{{url_for('contatopage')}}"><button class="navbarButton">Contato</button></a>
                    <a href="{{url_for('trabalhepage')}}"><button class="navbarButton">trabalhe Conosco</button></a>
                    <a href="{{url_for('adminpage')}}"><button class="navbarButton">Administrador</button></a>
        
                </div>
            </div>
        </header>
        
        <main>
            <header id="tituloPagina">
                <h2 id="headerTitulo">Cadastro do Trabalhe Conosco</h2>
                <p id="headerMensagem">Segue abaixo lista dos colaboradores cadastrados</p>
                <p>{{context.usuario}}</p>
                <p>{{context.idade}}</p>
            </header>

            <!-- Informação vindas do DB -->
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tel.</th>
                        <th>Cidade</th>
                        <th>Bairro</th>
                        <th>Nasc.</th>
                        <th>E.Ano</th>
                        <th>CNH</th>
                        <th>Habilidades</th>
                        <th>H.Extra</th>
                        <th>Sabado</th>
                        <th>CLT/MEI</th>
                        <th>Cursos</th>
                        <th>Feramentas</th>
                        <th>Mensagem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Antonio</td>
                        <td>(19) 999999999</td>
                        <td>Campinas</td>
                        <td>centro</td>
                        <td>26/4/99</td>
                        <td>5</td>
                        <td>AB</td>
                        <td>habilidade 01</td>
                        <td>sim</td>
                        <td>sim</td>
                        <td>mei</td>
                        <td>Poda</td>
                        <td>varias</td>
                        <td>hkjgijsig jjhtiwejbhwke ouawgkjkg</td>
                    </tr>
                    <tr>
                        <td>Marcos</td>
                        <td>(19) 999999999</td>
                        <td>Campinas</td>
                        <td>centro</td>
                        <td>26/04/99</td>
                        <td>5</td>
                        <td>A</td>
                        <td>habilidade 01</td>
                        <td>sim</td>
                        <td>sim</td>
                        <td>mei</td>
                        <td>Poda</td>
                        <td>varias</td>
                        <td>hkjgijsi gjjht iwejbhwke ouawgkjkg</td>
                    </tr>
                    <tr>
                        <td>Antonio</td>
                        <td>(19) 999999999</td>
                        <td>Campinas</td>
                        <td>centro</td>
                        <td>26/04/1999</td>
                        <td>5</td>
                        <td>não</td>
                        <td>habilidade 01</td>
                        <td>sim</td>
                        <td>sim</td>
                        <td>mei</td>
                        <td>Poda</td>
                        <td>varias</td>
                        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem doloribus odio sequi asperiores, architecto numquam porro ipsam totam repellendus accusamus non sapiente similique quod nisi quasi placeat iusto quis nulla.</td>
                    </tr>
                </tbody>
            </table>
        
        </main>
        
        <footer>
            <p>&copy; 2025 Sua Empresa. Todos os direitos reservados.</p>
        </footer>
    </div>
</body>
</html>