body{
    background-color: var(--background-color-1);
}

#container{
    background-color: var(--background-color-5);
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

#tituloPagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#headerTitulo{
    color:var(--cor-fonte-2);
    font-size: 3.5rem;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

.texto{
    color: var(--cor-fonte-5);
    font-size: 1rem;
    font-weight: 400;
    margin: 2%;
    padding-left:1%;
    text-align: justify;
}

.imagem{
    max-width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.destaque{
    max-width: 95%;
    margin: 0 auto;
}

#tituloGaleria{
    color:var(--cor-fonte-2);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
}

#galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.trabalhos{
    width: 97%;
    height: 170px;
    margin: 5px auto;
}

footer{
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    color: var(--cor-fonte-5);
}