/* retirar ao final */
body{
    background-color: var(--background-color-1);
}
.navbar{
    background-color: var(--background-color-5);
}


/* Vai ficar  */
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#primeiro{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content:space-between;
    align-items: center;
}

#navbarLogo{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbarLogo img{
    border-radius: var(--radius);
}

#nomeFrase{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    color: var(--cor-fonte-5);
}

#segundo{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    width: 100%;
}

a{
    list-style: none;
}

.navbarButton {
    background-color: var(--background-color-1);
    color: var(--cor-fonte-5);
    border-radius: 15px;
    border: solid var(--cor-borda) var(--espessura-da-borda);
    margin: 0 auto;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
}

.navbarButton:hover {
    background-color: var(--background-color-5);
}