<!DOCTYPE html>
<html>
<head>
    <title>Admin - Candidatos</title>
</head>
<body>
    <h1>Lista de Candidatos</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Mensagem</th>
        </tr>
        {% for candidato in candidatos %}
        <tr>
            <td>{{ candidato.id }}</td>
            <td>{{ candidato.nome }}</td>
            <td>{{ candidato.email }}</td>
            <td>{{ candidato.mensagem }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
