<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalhe Conosco</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/geral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="../static/css/navbar.css">

</head>

<body>
<div id="container">
    <header>
        <!-- vai vim a bara de navegação -->
                 <div class="navbar">

                    <div id="primeiro">

                        <div id="navbarLogo">
                            <img src="../static/img/logo.png" alt="Logo da empresa">
                        </div>

                        <div id="nomeFrase">
                            <h1>Nome da empresa</h1>
                            <h3> Jardinagem, Paisagismo, Consultoria Ambiental, Treinamento e Gestão de Áreas Verdes.</h3>
                        </div>

                    </div>

                    <div id="segundo">

                        <a href="{{url_for('index')}}"><button class="navbarButton">Início</button></a>
                        <!-- <a href="#"><button class="navbarButton">Sobre</button></a> -->
                        <!-- <a href="{{url_for('administrador')}}"><button class="navbarButton">detalhes</button></a> -->
                        <a href="{{url_for('servico')}}"><button class="navbarButton">Cadastrados</button></a>
                        <a href="{{url_for('cadastro')}}"><button class="navbarButton">trabalhe Conosco</button></a>

                    </div>
                </div>

    </header>

    <main>
        <header id="tituloPagina">
            <h2 id="headerTitulo">Cadastro do Trabalhe Conosco</h2>
            <p id="headerMensagem">Segue abaixo lista dos prestadores de serviço cadastrados</p>
        </header>

        <!-- Informação vindas do DB -->
        <table>
            <thead>
            <tr>
                <th>Nome Completo</th>
                <th>Telefone</th>
                <th>Cidade</th>
                <!--                        <th>Bairro</th>-->
                <!--                        <th>Nasc.</th>-->
                <th>Experiência</th>
                <!--                        <th>CNH</th>-->
                <!--                        <th>Habilidades</th>-->
                <th>H.Extra</th>
                <!--                        <th>Sabado</th>-->
                <th>Contrato</th>
                <th>Cursos</th>
                <!--                        <th>Ferramentas</th>-->
                <!--                        <th>Mensagem</th>-->
            </tr>
            </thead>
            <tbody>
            {%for candidato in cadastrobasico %}
            <tr>
                <td><a href="{{url_for('detalhes_cadastrados', id_candidato=candidato[0]['id_candidato'])}}"
                >{{candidato[0]['nome']}}</a></td>
                <td>{{candidato[0].telefone}}</td>
                <td>{{candidato[0].cidade}}</td>
                <td>{{candidato[0].exp_anos}} anos</td>
                <td>{{'Sim' if candidato[0].hora_extra else 'Não'}}</td>
                <td>{{candidato[1].tipo_contrato}}</td>
                <td>{{candidato[2].certificacao}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </main>

    <footer>
        <p>&copy; 2025 Sua Empresa. Todos os direitos reservados.</p>
    </footer>
</div>
</body>
</html>