<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="css/geral.css">
    <link rel="stylesheet" href="css/contato.css">
</head>

<body>
    <div id="container">
        <header>
            <!-- vai vim a bara de navegação -->
        </header>
        
        <main>
            <header id="tituloPagina">
                <h2 id="headerTitulo">Contatos</h2>
            </header>

            <p class="texto">
                <span>Emdereço:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis!
            </p>

            <p class="texto">
                <span>Telefone:</span> (xx) xxxx-xxxx
            </p>

            <p class="texto">
                <span>Celular:</span> (xx) xxxxx-xxxx
            </p>

            <p class="texto">
                <span>Email:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis!
            </p>
        </main>
        
        <footer>
            <p>&copy; 2025 Sua Empresa. Todos os direitos reservados.</p>
        </footer>
    </div>
</body>
</html>