<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="css/geral.css">
    <link rel="stylesheet" href="css/sobre.css">
</head>

<body>
    <div id="container">
        <header>
            <!-- vai vim a bara de navegação -->
        </header>
        
        <main>
            <header id="tituloPagina">
                <h2 id="headerTitulo">Quem somos!</h2>
            </header>

            <div class="folhaUm">
                <div class="conteudo">
                    <p class="texto">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ea deserunt omnis asperiores nisi consequatur maxime nam iure. Repudiandae cumque omnis aperiam unde corrupti vero nemo atque minima nam quia?
                    </p>
                    <p class="texto">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ea deserunt omnis asperiores nisi consequatur maxime nam iure. Repudiandae cumque omnis aperiam unde corrupti vero nemo atque minima nam quia?
                    </p>
                    <p class="texto">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ea deserunt omnis asperiores nisi consequatur maxime nam iure. Repudiandae cumque omnis aperiam unde corrupti vero nemo atque minima nam quia?
                    </p>
                    <p class="texto">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ea deserunt omnis asperiores nisi consequatur maxime nam iure. Repudiandae cumque omnis aperiam unde corrupti vero nemo atque minima nam quia?
                    </p>
                </div>
                
                <div class="imagem">
                    <img src="img/fotos/imagem009.jpg" alt="" class="destaque">
                </div>
            </div>

            <div class="folhaDois">
                <div class="imagem">
                    <img src="img/fotos/imagem010.png" alt="" class="destaque">
                </div>

                <div class="conteudo">
                    <p class="texto">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ea deserunt omnis asperiores nisi consequatur maxime nam iure. Repudiandae cumque omnis aperiam unde corrupti vero nemo atque minima nam quia?
                    </p>
                    <p class="texto">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ea deserunt omnis asperiores nisi consequatur maxime nam iure. Repudiandae cumque omnis aperiam unde corrupti vero nemo atque minima nam quia?
                    </p>
                    <p class="texto">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ea deserunt omnis asperiores nisi consequatur maxime nam iure. Repudiandae cumque omnis aperiam unde corrupti vero nemo atque minima nam quia?
                    </p>
                    <p class="texto">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ea deserunt omnis asperiores nisi consequatur maxime nam iure. Repudiandae cumque omnis aperiam unde corrupti vero nemo atque minima nam quia?
                    </p>
                </div>
            </div>

            <div class="folhaUm">
                <div class="conteudo">
                    <p class="texto">
                        <span>MISSÃO:</span> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ea deserunt omnis asperiores nisi consequatur maxime nam iure. Repudiandae cumque omnis aperiam unde corrupti vero nemo atque minima nam quia?
                    </p>
                    <p class="texto">
                        <span>VISÃO:</span> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ea deserunt omnis asperiores nisi consequatur maxime nam iure. Repudiandae cumque omnis aperiam unde corrupti vero nemo atque minima nam quia?
                    </p>
                    <p class="texto">
                        <span>VALOR:</span> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ea deserunt omnis asperiores nisi consequatur maxime nam iure. Repudiandae cumque omnis aperiam unde corrupti vero nemo atque minima nam quia?
                    </p>
                    <p class="texto">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ea deserunt omnis asperiores nisi consequatur maxime nam iure. Repudiandae cumque omnis aperiam unde corrupti vero nemo atque minima nam quia?
                    </p>
                </div>
                
                <div class="imagem">
                    <img src="img/fotos/imagem011.jpg" alt="" class="destaque">
                </div>
            </div>
            <!-- 
            historia da empresa
            hostoria do fundador
            mição 
            -->
        </main>
        
        <footer>
            <p>&copy; 2025 Sua Empresa. Todos os direitos reservados.</p>
        </footer>
    </div>
</body>
</html>