body{
    background-color: var(--background-color-1);
}

#container{
    background-color: var(--background-color-5);
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

#tituloPagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#headerTitulo{
    color:var(--cor-fonte-2);
    font-size: 3.5rem;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;

}

#headerMensagem{
    color: var(--cor-fonte-5);
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.campos{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.campos label{
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    margin-left: 20px;
    color: var(--cor-fonte-5);
}

.campos input, .campos textarea{
    background: var(--background-color-1);
    border-radius: 15px;
    border: solid var(--cor-borda) var(--espessura-da-borda);
}

.camposSelecione{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 100%;
}

.camposSelecione label{
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    margin-left: 20px;
    color: var(--cor-fonte-5);
}

.camposSelecione input, .camposSelecione textarea{
    background: var(--background-color-1);
    border-radius: 15px;
    border: solid var(--cor-borda) var(--espessura-da-borda);
}

.opcoesHabilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 100%;
}

.opcoesHabilidades input {
    margin-right: 5px;
}

.buttonEnviar {
    background-color: var(--background-color-1);
    color: var(--cor-fonte-5);
    font-size: 2rem;
    border-radius: 15px;
    border: solid var(--cor-borda) var(--espessura-da-borda);
    margin: 0 auto;
    padding: 10px 15px;
    width: 20%;
    /* border: none; */
    cursor: pointer;
}

.buttonEnviar:hover {
    background-color: var(--background-color-5);
}

footer{
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    color: var(--cor-fonte-5);
}

@media only screen and (max-width: 600px){
    .opcoesHabilidades{
        display: flex;
        flex-direction: column;
    }
}