<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalhe Conosco</title>
    <link rel="stylesheet" href="css/geral.css">
    <link rel="stylesheet" href="css/navbar.css">
</head>

<body>
    <div class="navbar">
        
        <div id="primeiro">

            <div id="navbarLogo">
                <img src="img/logo.png" alt="Logo da empresa">
            </div>

            <div id="nomeFrase">
                <h1>Nome da empresa</h1>
                <h3> Jardinagem, Paisagismo, Consultoria Ambiental, Treinamento e Gestão de Áreas Verdes.</h3>
            </div>

        </div>

        <div id="segundo">

            <a href="{{url_for('indexpage')}}"><button class="navbarButton">Início</button></a>
            <a href="{{url_for('sobrepage')}}"><button class="navbarButton">Sobre</button></a>
            <a href="{{url_for('servicopage')}}"><button class="navbarButton">Serviços</button></a>
            <a href="{{url_for('contatopage')}}"><button class="navbarButton">Contato</button></a>
            <a href="{{url_for('trabalhepage')}}"><button class="navbarButton">trabalhe Conosco</button></a>

        </div>
    </div>
</body>
</html>
